.product-list {
    margin-top: 80px;
    text-align: center;

    h3 {
        font-size: 35px;
        font-weight: 600;
        margin-bottom: 30px;
    }

    .container {
        max-width: $max-width-small;
        border-top: 1px solid $color-gray;
        padding-top: 30px;

        .product-container {
            display: grid;
        }
    }
}

@media (min-width: 768px) {
    .product-list {
        .container {
            .product-container {
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}

@media (min-width: 1200px) {
    .product-list {
        .container {
            .product-container {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }
}