.update-product {
    margin-top: 50px;

    .container {
        max-width: $max-width-small;

        .get-form {
            text-align: center;

            .get-product {
                display: grid;
                text-align: center;
                margin-bottom: 50px;
    
                h3 {
                    font-size: 35px;
                    font-weight: 600;
                    margin-bottom: 30px;
                }
    
                .get-input {
                    border: 1px solid $color-gray;
                    height: 50px;
                    padding-left: 10px;
                    margin-bottom: 30px;
    
                    &:focus {
                        outline: none;
                    }
                }
    
                .articleNumber-error {
                    color: $color-theme;
                }
    
                .update-btn {
                    margin-top: 20px;
                    border: none;
                    height: 50px;
                    font-weight: 600;
                    color: $color-white;
                    background-color: $color-theme;
                    transition: 0.2s ease-in-out;
    
                    &:hover {
                        background-color: $color-dark;
                    }
                }
            }
        }

        .product {
            margin-bottom: 30px;
            text-align: center;

            h3 {
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 30px;
            }
        }

        .form-container {
            text-align: center;

            h3 {
                font-size: 35px;
                font-weight: 600;
                margin-bottom: 30px;
            }

            .update-form {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 30px;

                .update-title {
                    font-size: 35px;
                    font-weight: 600;
                }
    
                .product-input {
                    display: grid;
                    text-align: start;
    
                    .input-title {
                        font-size: 18px;
                        font-weight: 600;
                        margin-bottom: 10px;
                    }
    
                    .form-input {
                        border: 1px solid $color-gray;
                        height: 50px;
                        padding-left: 10px;
    
                        &:focus {
                            outline: none;
                        }
                    }
                }
    
                .update-btn {
                    grid-column: 1 / -1;
                    margin-top: 20px;
                    border: none;
                    height: 50px;
                    font-weight: 600;
                    color: $color-white;
                    background-color: $color-theme;
                    transition: 0.2s ease-in-out;
    
                    &:hover {
                        background-color: $color-dark;
                    }
                }
            }

            .updated-product {
                margin-top: 30px;

                .succes {
                    font-size: 24px;
                    font-weight: 600;
                    margin-bottom: 30px;
                    color: green;
                }
                .fail {
                    font-size: 24px;
                    font-weight: 600;
                    margin-bottom: 30px;
                    color: red;
                }
            }
        }
    }
}