//colors
$color-white: #ffffff;
$color-theme: #FF7373;
$color-dark: #222529;
$color-shadow: rgba(0, 0, 0, 0.06);
$color-lightgray: #adadad66;
$color-gray: #BBBBBB;
$color-medium-gray: #D9D9D9;
$color-dark-gray: #616365;
$color-brown: #75695C;
$linear-gradient-dark: #E6E6E6;
$linear-gradient-light: #F5F5F5;
$color-pink: #CAC0BE;


//media
$max-width: 1680px;
$max-width-small: 1110px;